html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: #030303;
}
.assets-page {
  width: 100%;
  height: 100%;
}
.left,
.right {
  height: 100%;
  width: 380px;
  padding-left: 30px;
  box-sizing: border-box;
}
.left {
  position: fixed;
  left: 0;
  top: 0;
}
.right {
  position: fixed;
  right: 0;
  top: 0;
}
.assets-page .school-assets-content {
  height: 310px;
}
.assets-page .school-assets-content .ring {
  width: 320px;
  height: 181px;
}
.assets-page .school-assets-content .ring-info {
  display: flex;
}
.assets-page .school-assets-content .ring-info .info-bk {
  width: 150px;
  height: 109px;
  background-size: 150px 109px;
}
.assets-page .school-assets-content .ring-info .info-bk:first-child {
  background-image: url('../image/ring-bk2-blue.png');
  margin-right: 20px;
}
.assets-page .school-assets-content .ring-info .info-bk:last-child {
  background-image: url('../image/ring-bk2-yellow.png');
}

.assets-page .school-assets-content .ring-info .info-bk div:first-child {
  font-size: 14px;
  font-family: MicrosoftYaHei;
  color: #ffffff;
  height: 47px;
  line-height: 47px;
  text-align: center;
}
.assets-page .school-assets-content .ring-info .info-bk div:last-child {
  font-size: 20px;
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}
.assets-page .school-assets-content .ring-info .info-bk .software {
  color: #2DE2E5;
}
.assets-page .school-assets-content .ring-info .info-bk .hardware {
  color: #FCE569;
}
.assets-page .college-assets-content {
  height: 309px;
}
.assets-page .class-assets-content {
  height: 178px;
}
.assets-page .ranking-assets-content {
  height: 213px;
  width: 100%;
  font-size: 14px;
  color: #ffffff;
  table-layout: fixed;
  padding: 14px 0 20px 18px;
}
.assets-page .ranking-assets-content tr {
  height: 36px;
  box-shadow: 0 1px 0 0 #172335;
}
.assets-page .ranking-assets-content tr td:first-child {
  width: 39px;
} 
.assets-page .ranking-assets-content tr td:last-child {
  width: 39px;
  padding-right: 50px;
} 

.assets-page .ranking-assets-content .number{
  width: 20px;
  height: 20px;
  text-align: center;
}
.assets-page .ranking-assets-content tr:first-child td .number {
  background-color: #CF961F;
}
.assets-page .ranking-assets-content tr:nth-child(2) td .number {
  background-color: #546F8C;
}
.assets-page .ranking-assets-content tr:nth-child(3) td .number {
  background-color: #90684E;
}
.assets-page .total-assets-content {
  height: 185px;
}
