html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: #030303;
}
.energy-page {
  width: 100%;
  height: 100%;
}
.left,
.right {
  height: 100%;
  width: 380px;
  padding-left: 30px;
  box-sizing: border-box;
}
.left {
  position: fixed;
  left: 0;
  top: 0;
}
.right {
  position: fixed;
  right: 0;
  top: 0;
}
/*  能源消耗情况 */
.energy-page .situation-content {
  height: 159px;
  box-sizing: border-box;
  padding-top: 50px;
}
.energy-page .situation-content .bk {
  width: 320px;
  height: 64px;
  background-image: url('../image/energy-bk.png');
  background-size: 100% 100%;
  position: relative;
}
.energy-page .situation-content .bk .number-main {
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #fce569;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 38px;
  transform: translateX(-50%);
}
.energy-page .situation-content .bk .number {
  font-size: 26px;
}
.energy-page .situation-content .bk .unit {
  color: #fce569;
}
.energy-page .situation-content .time {
  font-size: 13px;
  font-family: MicrosoftYaHei;
  color: #d1d4d9;
  margin-top: 12px;
  margin-left: 72px;
}

.line {
  width: 320px;
  height: 1px;
  background: linear-gradient(
    270deg,
    rgba(111, 127, 174, 0) 0%,
    #6f7fae 52%,
    rgba(111, 127, 174, 0) 100%
  );
  opacity: 0.5;
}
.energy-page .ranking-content {
  height: 257px;
}
.energy-page .classification-content {
  width: 111px;
  height: 161px;
}
.energy-page .chart-main {
  display: flex;
  align-items: center;
}
.energy-page .chart-main .info-main div {
  width: 210px;
  height: 30px;
}
.energy-page .chart-main .info-main div:first-child {
  background-image: url('../image/ring-bk-blue.png');
  background-size: 100%;
}
.energy-page .chart-main .info-main div:nth-child(2) {
  background-image: url('../image/ring-bk-red.png');
  margin: 12px 0;
  background-size: 100%;
}
.energy-page .chart-main .info-main div:last-child {
  background-image: url('../image/ring-bk-yellow.png');
  background-size: 100%;
}
.energy-page .chart-main .info-main .info-k {
  color: #7eadc0;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  margin-left: 30px;
  line-height: 30px;
}
.energy-page .chart-main .info-main .info-v {
  font-size: 16px;
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #ffffff;
  line-height: 30px;
  float: right;
  margin-right: 12px;
}
.energy-page .chart-main .info-main .info-v span {
  font-size: 12px;
}
.energy-page .statistics-content {
  height: 172px;
}
.energy-page .call-police-content {
  height: 446px;
  padding-top: 20px;
  box-sizing: border-box;
  text-align: center;
}
.energy-page .call-police-content .call-police-count {
  display: table;
  margin-bottom: 30px;
}

.energy-page .call-police-content .call-police-count .count {
  width: 135px;
  height: 135px;
  background-image: url('../image/ring-bk.png');
  background-size: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.energy-page .call-police-content .call-police-count .count div:first-child {
  font-size: 20px;
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #ffffff;
}
.energy-page .call-police-content .call-police-count .count div:last-child {
  font-size: 14px;
  font-family: MicrosoftYaHei;
  color: #7eadc0;
}
.energy-page .call-police-content .call-police-count .each-count {
  width: 166px;
  height: 62px;
  background-size: 100%;
  margin-left: 19px;
}
.energy-page .call-police-content .call-police-count .each-count:first-child {
  background-image: url('../image/ring-info-bk-red.png');
  margin-bottom: 10px;
}
.energy-page .call-police-content .call-police-count .each-count:last-child {
  background-image: url('../image/ring-info-bk-blue.png');
}
.energy-page .call-police-content .call-police-count .each-count .info {
  color: #ffffff;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  height: 31px;
  line-height: 31px;
}
.energy-page
  .call-police-content
  .call-police-count
  .each-count
  .info
  .align-left {
  float: left;
  margin-left: 28px;
}
.energy-page
  .call-police-content
  .call-police-count
  .each-count
  .info
  .align-right {
  float: right;
  margin-right: 12px;
}
.energy-page
  .call-police-content
  .call-police-count
  .each-count
  .info
  .percentage {
  color: #2de2e5;
}
.clearfix:after {
  content: '020';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.energy-page .call-police-content .call-police-list .tab {
  display: flex;
  width: 320px;
  height: 25px;
}
.energy-page .call-police-content .call-police-list .tab .item {
  width: 106px;
  height: 25px;
  background: #1e4e6b;
  border: 1px solid #263752;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  color: #d1d4d9;
  line-height: 25px;
  margin: 0px -1px -1px 0px;
}
.energy-page .call-police-content .call-police-list .tab .tab-active {
  border: 1px solid #2dc0e5;
  color: #ffffff;
  margin: 0;
}
.energy-page .call-police-content .call-police-list .tab .tip {
  padding: 0 4px;
  background-color: #de4251;
  font-size: 12px;
  font-family: MicrosoftYaHei;
  color: #ffffff;
  border-radius: 50%;
  margin-left: 3px;
}
.energy-page .call-police-content .table {
  width: 320px;
  text-align: left;
  table-layout: fixed;
  font-size: 14px;
  margin-top: 10px;
  color: #FFFFFF;
}
.energy-page .call-police-content .table tr {
  height: 36px;
  line-height: 36px;
}
.energy-page .call-police-content .table tr td:first-child {
  width: 28px;
  padding-right: 14px;
}
.energy-page .call-police-content .table tr td:nth-child(2) {
  width: 96px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 14px;
}
.energy-page .call-police-content .table tr td:nth-child(3) {
  width: 56px;
  padding-right: 32px;
}
.energy-page .call-police-content .table tr td:last-child {
  width: 44px;
  text-align: right;
}
