* {
  margin: 0;
  padding: 0;
}

html {
  background: #030303;
  color: #fff;
  font-size: 14px;
  ul, ol, li, p {
    margin: 0;
    padding: 0;
  }
}

ul, li {
  list-style: none;
}

.color-red {
  color: #F2679A;
}
.color-green {
  color: #2DE2E5;
}
.color-yellow {
  color: #FCE569;
}
.color-white {
  color: #FFFFFF;
}

.bg-red {
  background-color: #F2679A;
}
.bg-green {
  background-color: #2DE2E5;
}
.bg-yellow {
  background-color: #FCE569;
}
.bg-white {
  background-color: #FFFFFF;
}

.font-bold {
  font-weight: bold;
}

.g-table {
  width: 100%;
  th, td {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 19px;
  }
  thead tr,
  tbody tr:nth-child(even) {
    background-color: #364968;
  }
}

.g-dialog-details {
  .item {
    display: flex;
    font-size: 14px;
    line-height: 19px;
    &:not(:first-child) {
      margin-top: 14px;
    }
    .subject {
      width: 92px;
      text-align: right;
    }
    .content {
      margin-left: 20px;
      flex: 1;
    }
  }
}

.g-dialog {
  color: #fff;
  .modal-header {
    padding: 15px 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #263752;
    .close {
      color: #D1D4D9;
      opacity: 1;
      font-weight: normal;
    }
  }
  .modal-content {
    background: rgba(11, 25, 49, 0.9);
    border-radius: 4px;
    border: 1px solid #263752;
  }
}

.g-tab-list {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 1;
  .tab-item {
    margin-left: -8px;
    padding-left: 8px;
    width: 102px;
    height: 33px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./../image/tab-middle.png');
    font-size: 16px;
    line-height: 33px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    &.active {
      background-image: url('./../image/tab-middle-active.png');
      opacity: 1;
      font-weight: bold;
    }
    &:first-child {
      margin-left: 0;
      padding-left: 0;
      width: 93px;
      background-image: url('./../image/tab-fisrt.png');
      &.active {
        background-image: url('./../image/tab-fisrt-active.png');
      }
    }
    &:last-child {
      background-image: url('./../image/tab-last.png');
      &.active {
        background-image: url('./../image/tab-last-active.png');
      }
    }
  }
}

