.level-mock {
  width: 800px;
  margin: 0 auto;
  color: #aaa;
}

.room-item {
  float: left;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  position: relative;
  cursor: pointer;
  .bed-group {
    position: absolute;
    top: 50px;
    width: 100px;
    height: 100px;
  }

  .bed-group-1 {
    left: 0;
  }

  .bed-group-2 {
    right: 0;
  }

  .bed-item {
    position: absolute;
    border-bottom: 1px solid transparent;
    &:hover{
      border-bottom: 1px solid;
    }
  }

  .bed-item-0, .bed-item-2 {
    top: 0;
  }

  .bed-item-1, .bed-item-3 {
    bottom: 0;
  }
}