.page-operation .operation-maintenance-content {
  height: 147px;
  display: flex;
  padding-top: 18px;
  box-sizing: border-box;
}
.page-operation .operation-maintenance-content .info-bk {
  width: 100px;
  height: 109px;
  background-size: 100px 109px;
}
.page-operation .operation-maintenance-content .info-bk:first-child {
  background-image: url('../image/else/ring-bk2-red.png');
}
.page-operation .operation-maintenance-content .info-bk:nth-child(2) {
  background-image: url('../image/else/ring-bk2-yellow.png');
  margin: 0 10px;
}
.page-operation .operation-maintenance-content .info-bk:last-child {
  background-image: url('../image/else/ring-bk2-blue.png');
}
.page-operation .operation-maintenance-content .info-bk .title {
  font-size: 14px;
  font-family: MicrosoftYaHei;
  color: #ffffff;
  height: 47px;
  line-height: 47px;
  text-align: center;
}
.page-operation .operation-maintenance-content .info-bk .color {
  font-size: 20px;
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}
.page-operation .operation-maintenance-content .info-bk .color-red {
  color: #f2679a;
}
.page-operation .operation-maintenance-content .info-bk .color-yellow {
  color: #fce569;
}
.page-operation .operation-maintenance-content .info-bk .color-blue {
  color: #2de2e5;
}
.page-operation .event-list-content {
  height: 211px;
  padding-top: 12px;
  box-sizing: border-box;
}
.page-operation .event-list-content .tab {
  display: flex;
  width: 320px;
  height: 25px;
}
.page-operation .event-list-content .tip {
  padding: 0 4px;
  background-color: #de4251;
  font-size: 12px;
  font-family: MicrosoftYaHei;
  color: #ffffff;
  border-radius: 50%;
  margin-left: 3px;
}
.page-operation .event-list-content .tab .item {
  width: 106px;
  height: 25px;
  background: #1e4e6b;
  border: 1px solid #263752;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  color: #d1d4d9;
  line-height: 25px;
  margin: 0px -1px -1px 0px;
  text-align: center;
}
.page-operation .event-list-content .tab .tab-active {
  border: 1px solid #2dc0e5;
  color: #ffffff;
  margin: 0;
}
.page-operation .event-list-content .table {
  width: 320px;
  text-align: left;
  table-layout: fixed;
  font-size: 14px;
  margin-top: 10px;
  color: #ffffff;
}
.page-operation .event-list-content .table tr {
  height: 34px;
  line-height: 34px;
  box-shadow: 0px 1px 0px 0px #172335;
}
.page-operation .event-list-content .table tr:last-child {
  box-shadow: none;
}
.page-operation .event-list-content .table tr td:first-child {
  width: 62px;
  padding-left: 20px;
  box-sizing: border-box;
}
.page-operation .event-list-content .table tr td:nth-child(2) {
  width: 96px;
}
.page-operation .event-list-content .table tr td:last-child {
  color: #fce569;
}
.page-operation .duty-personnel-content {
  height: 219px;
  width: 320px;
  table-layout: fixed;
  margin-top: 10px;
}
.page-operation .duty-personnel-content tr {
  height: 50px;

  line-height: 50px;
  box-shadow: 0px 1px 0px 0px #172335;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  color: #ffffff;
}
.page-operation .duty-personnel-content tr .pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  vertical-align: middle;
}
.page-operation .duty-personnel-content tr td:first-child {
  width: 74px;
  padding-left: 20px;
  box-sizing: border-box;
}
.page-operation .device-status-content {
  height: 252px;
  display: flex;
  align-items: center;
}
.page-operation .device-status-content .device-status-ring {
  width: 154px;
  height: 100%;
}
.page-operation .device-status-content .device-status-info .each-count {
  width: 166px;
  height: 62px;
  background-size: 100%;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  color: #ffffff;
}
.page-operation
  .device-status-content
  .device-status-info
  .each-count:first-child {
  background-image: url('../image/else/ring-info-bk-red.png');
}
.page-operation
  .device-status-content
  .device-status-info
  .each-count:nth-child(2) {
  background-image: url('../image/else/ring-info-bk-yellow.png');
  margin: 10px 0;
}
.page-operation
  .device-status-content
  .device-status-info
  .each-count:last-child {
  background-image: url('../image/else/ring-info-bk-blue.png');
}
.page-operation .device-status-content .device-status-info .each-count .info {
  margin-left: 28px;
  height: 31px;
  line-height: 31px;
}
.page-operation .device-status-content .device-status-info .each-count .info .percentage {
  color: #2de2e5;
}
.page-operation .device-status-content .device-status-info .each-count .info  .align-left {
  margin-right: 69px;
}
.page-operation .device-maintenance-content {
  height: 184px;
}
.page-operation .regional-statistics-content {
  height: 141px;
}
