.page-container {
  font-size: 16px;
  color: #fff;
}

.page-aside {
  width: 28%;
  min-width: 380px;
  min-height: 702px;
  position: absolute;
  top: 66px;
  bottom: 0;
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: #fff;

  * {
    box-sizing: border-box;
  }
  &-left {
    left: 0;
    background: linear-gradient(90deg, #000001 0%, rgba(0, 0, 1, 0.76) 79%, rgba(0, 0, 1, 0) 100%);
  }

  &-right {
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 1, 0) 0%, rgba(0, 0, 1, 0.76) 21%, #000001 100%);
  }

  // 解除自适应高度
  .flex-none {
    flex: none!important;
  }

  .chart-block {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    
    &:nth-of-type(n+2) {
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 30px;
        right: 30px;
        height: 1px;
        background: linear-gradient(270deg, rgba(111, 127, 174, 0) 0%, #6F7FAE 52%, rgba(111, 127, 174, 0) 100%);
        opacity: 0.5;
      }
    }
  }

  .chart-block__hd {
    position: relative;
    padding: 20px 0 0 18px;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      margin-top: 5px;
      width: 10px;
      height: 10px;
      background: linear-gradient(139deg, #24D6EB 0%, #1D4BD3 100%);
      border-radius: 50%;
    }
    .brand {
      padding: 0 25px;
      height: 21px;
      font-size: 16px;
      font-weight: bold;
      line-height: 21px;
      background: linear-gradient(132deg, #2DE2E5 0%, #25A0E2 100%);
      border-radius: 4px;
    }
    .label-list {
      justify-self: flex-end;
      display: flex;
      font-size: 12px;
      color: #7EADC0;
      font-weight: normal;
    }
    .label-item {
      margin-left: 20px;
    }
    .tab-list {
      justify-self: flex-end;
      display: flex;
      font-size: 12px;
      color: #fff;
      font-weight: normal;
    }
    .tab-item {
      padding: 2px 8px;
      line-height: 19px;
      background: #1D2A42;
      border: 1px solid #263752;
      cursor: pointer;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
      &.active {
        background: #1E4E6B;
        border: 1px solid #2DC0E5;
        opacity: 1;
      }
    }
  }

  .chart-block__bd {
    flex: 1;
    padding: 10px 0;
    > div {
      height: 100%;
    }
  }
}

.echarts-tooltip-dark {
  background-color: #0B1931!important;
  border-color: #263752!important;
  color: #fff!important;
  .caption {
    padding-bottom: 10px;
    font-size: 16px;
  }
  .item {
    display: flex;
    line-height: 19px;
    align-items: center;
  }
  .mark {
    margin-right: 3px;
    width: 14px;
    height: 4px;
  }
  .value {
    margin-left: 14px;
    flex: 1;
    text-align: right;
  }
  .rate {
    margin-top: 10px;
    position: relative;
    padding-top: 10px;
    text-align: center;
    color: #FCE569;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: linear-gradient(270deg, rgba(111, 127, 174, 0) 0%, #6F7FAE 52%, rgba(111, 127, 174, 0) 100%);
      opacity: 0.5;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* 滑块 */
::-webkit-scrollbar-thumb {
  background-color: #276B86;
  &:hover {
    background-color: #276B86;
  }
}

/* 滑道 */
::-webkit-scrollbar-track {
  background: #1D2A42;
}