.g-header {
  display: flex;
  padding: 20px 30px 22px;
  justify-content: space-between;
  font-size: 14px;
  color: #fff;
}

.g-header .left {
  font-size: 0;
}

.g-header .left .logo {
  width: 125px;
  height: 24px;
  vertical-align: middle;
}

.g-header .left .name {
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
  font-size: 18px;
  line-height: 20px;
  border-left: 1px solid #fff;
  vertical-align: middle;
}

.g-header .full-screen {
  margin-left: 20px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("./../image/full-screen.png");
  vertical-align: -2px;
  cursor: pointer;
}

.g-header .full-screen.full {
  background-image: url("./../image/full-screen-close.png");
}
