* {
  margin: 0;
  padding: 0;
}

html {
  background: #030303;
  color: #fff;
}

ul, li {
  list-style: none;
}

.g-tab-list {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 1;
}

.g-tab-list .tab-item {
  margin-left: -8px;
  padding-left: 8px;
  width: 102px;
  height: 33px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./../image/tab-middle.png");
  font-size: 16px;
  line-height: 33px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 0.8;
}

.g-tab-list .tab-item:hover {
  opacity: 1;
}

.g-tab-list .tab-item.active {
  background-image: url("./../image/tab-middle-active.png");
  opacity: 1;
  font-weight: bold;
}

.g-tab-list .tab-item:first-child {
  margin-left: 0;
  padding-left: 0;
  width: 93px;
  background-image: url("./../image/tab-fisrt.png");
}

.g-tab-list .tab-item:first-child.active {
  background-image: url("./../image/tab-fisrt-active.png");
}

.g-tab-list .tab-item:last-child {
  background-image: url("./../image/tab-last.png");
}

.g-tab-list .tab-item:last-child.active {
  background-image: url("./../image/tab-last-active.png");
}
