.page-apartment .chart-basic .chart-block__bd {
  padding: 24px 0 34px;
}

.page-apartment .chart-basic .list {
  overflow: hidden;
}

.page-apartment .chart-basic .item {
  width: 50%;
  float: left;
  position: relative;
  padding-left: 52px;
  font-size: 13px;
  box-sizing: border-box;
}

.page-apartment .chart-basic .item:nth-of-type(n + 3) {
  margin-top: 30px;
}

.page-apartment .chart-basic .item::before {
  position: absolute;
  content: '';
  left: 0;
  top: 6px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}

.page-apartment .chart-basic .item .count {
  font-size: 20px;
  font-weight: bold;
}

.page-apartment .chart-basic .item .caption {
  margin-top: 4px;
  font-size: 14px;
  color: #7eadc0;
}

.page-apartment .chart-basic .item-dormitory::before {
  background-image: url("./../image/icon-dormitory.png");
}

.page-apartment .chart-basic .item-room::before {
  background-image: url("./../image/icon-room.png");
}

.page-apartment .chart-basic .item-bed::before {
  background-image: url("./../image/icon-bed.png");
}

.page-apartment .chart-basic .item-people::before {
  background-image: url("./../image/icon-people.png");
}

.page-apartment .chart-not-return .chart-block__bd {
  padding: 16px 0 15px;
}

.page-apartment .chart-room-usage .chart-block__bd {
  padding: 36px 0 40px 20px;
  display: flex;
}

.page-apartment .chart-room-usage .chart-block__bd .left {
  width: 112px;
  height: 112px;
}

.page-apartment .chart-room-usage .chart-block__bd .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  justify-content: center;
}

.page-apartment .chart-room-usage .chart-block__bd .item {
  position: relative;
  width: 100%;
  height: 30px;
  padding: 0 12px;
  background: #0b1931;
  border: 1px solid #1e2f3f;
  color: #7eadc0;
  font-size: 14px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding-left: 25px;
}

.page-apartment .chart-room-usage .chart-block__bd .item::before {
  width: 0;
  height: 0;
  border-width: 4px;
  border-color: #228ae1 transparent transparent #228ae1;
  border-style: solid;
  content: " ";
  position: absolute;
  left: 1px;
  top: 1px;
}

.page-apartment .chart-room-usage .chart-block__bd .item::after {
  width: 0;
  height: 0;
  border-width: 4px;
  border-color: transparent #228ae1 #228ae1 transparent;
  border-style: solid;
  content: " ";
  position: absolute;
  right: 1px;
  bottom: 1px;
}

.page-apartment .chart-room-usage .chart-block__bd .item .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  box-sizing: border-box;
  margin-right: 6px;
  position: absolute;
  left: 10px;
  top: 10px;
  border-color: #228ae1;
}

.page-apartment .chart-room-usage .chart-block__bd .item .mark {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.page-apartment .chart-room-usage .chart-block__bd .item:nth-of-type(n+2) {
  margin-top: 12px;
}

.page-apartment .chart-room-usage .chart-block__bd .item:nth-of-type(n+2)::before {
  border-color: #2DE2E5 transparent transparent #2DE2E5;
}

.page-apartment .chart-room-usage .chart-block__bd .item:nth-of-type(n+2)::after {
  border-color: transparent #2DE2E5 #2DE2E5 transparent;
}

.page-apartment .chart-room-usage .chart-block__bd .item:nth-of-type(n+2) .dot {
  border-color: #2DE2E5;
}
